.search-container {
  display: flex;
  justify-content: flex-end;
  margin: 30px 50px;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 14px 50px 14px 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input::placeholder {
  color: #999;
  font-weight: 500;
}

.search-input:focus {
  border-color: #FACC15;
  box-shadow: 0 6px 20px rgba(250, 204, 21, 0.25);
  outline: none;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #706f6f;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  position: relative;
}

.job-listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #facc15;
  outline: none;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-card h3 {
  font-size: 1.1rem;
  text-align: start;
}

.button-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.apply-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #facc15;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color: #facc15;
}

.status.pending {
  color: #3f6212;
}

.status.closed {
  color: #d9534f;
}

@media (min-width: 175px) and (max-width: 799px) {

  /*Jobs Section*/
  .search-container {
    justify-content: center;
    margin: 20px;
  }

  .search-wrapper {
    max-width: 90%;
  }

  .search-input {
    font-size: 0.95rem;
    padding: 12px 45px 12px 18px;
  }

  .search-icon svg {
    width: 18px;
    height: 18px;
  }

  .job-listings {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .job-card {
    padding: 15px;
  }

  .job-card h3 {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.4rem;
  }

}